.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1050;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
  }
  
  .custom-modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .custom-modal button {
    margin-right: 10px;
  }
  
  .navbar .nav-link img {
    border-radius: 50%;
    border: 1px solid #ddd; /* Borde ligero */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
  }
  